.App {
  text-align: center;
}

input {
  width: 300px;
  height: 40px;
  padding: 0.1rem 1rem;
  font-size: 1rem;
  outline: none;
  margin: 2px;
}

form {
  background-color: rgb(179, 201, 202);
  width: fit-content;
  padding: 2rem;
  margin: auto;
}


button {
  font-size: 1.4rem;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  color:blue
}

.addBtn {
  height: 48px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
}

.todo-container {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.btns {
  display: flex;

}

.todo-item {
  margin: 5px;
  width: 600px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  outline: none;
  letter-spacing: 1px;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
}

.todo-title {
  border: 1px solid black;
  padding: 5px;
}


.todo-details {
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  border: 1px solid black;
  padding: 5px;
  border-top: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.completed-task {
  text-decoration: line-through;
}

hr {
  margin: 1.5rem auto;
}

@media screen and (max-width:700px) {
  
    .todo-item {
      width: 90%;
      font-size: 1.2rem;
      padding: 0.3rem 0.5rem;
  }

  input {
    width: 50%;
    height: 30px;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    outline: none;
}

.addBtn {
  height: 40px;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}
.btns {
  margin-left: 1rem;
}
button {
  font-size: 1.1rem;
 
}
}

@media screen and (max-width:400px){
  button {
    font-size: 0.9rem;
    cursor: pointer;
    margin: 2px;
}

.btns {
  margin-left: 0.5rem;
}

}